

/* .address-container{
    display: flex;
    top:10rem;
    justify-content: center;
    gap:3rem;
}
.heading{
    text-align: center;
}
.address-main{
    margin-top:2rem;
    width:20rem;
    border:1px solid black;
  border-radius:0.5rem;
  text-align: center;
}

.buttons{
    padding-bottom: 16px;
    margin-bottom: 2px;

} */
.address-main{
    display:flex;
    flex-direction:column;
    width:50vh;
    margin-left:2rem;
}
.address-card {
    border: 1px solid black; 
    margin-bottom:0.5rem 
  }
 
  .radio-btn{
margin:0
  }
  .address-card-btn-container {
    margin-top: 1.6rem;
  }
  .address-card-btn {
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.8rem;
  }
.edit-btn{
    margin-left:8px;
    cursor: pointer;
    border:none;
    background-color: white;

}
.remove-btn{
    cursor: pointer;
    border:none;
    background-color: white;
}
.add-btn{
   
    margin-top:24px;
    font-size: large;
    cursor: pointer;
    border:1px solid black;
    border-radius:12px;
    padding:8px;
}
.place-order-btn{
    margin-left:1rem;
    font-size: large;
    cursor: pointer;
    border:1px solid black;
    border-radius:12px;
    padding:8px;
  
    }
