.auth-main{
    display: flex;
    justify-content: center;
    margin-top:4rem

}

.auth-container{
     display: flex; 
    flex-direction: column; 
    box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2) ;
  
    justify-content: center;
    padding:1.5rem;
    
}
.auth-container input{
    width: 15rem;
    padding:8px;
    border-radius: 8px;
}
.login-heading{
    padding-left:1.3rem;
    color: #A076F9;

}
.login-para{
    display: flex;
    gap:6px
}
.details{
    display: flex;
    flex-direction: column;
    gap:2rem;
    align-items: center;
}
.address{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.password{
    display: flex;
    flex-direction: column;
    gap:10px;
}
#login-btn{
    margin-bottom: 12px;
    width:15rem;
    padding:8px;
    border-radius:8px;
    background-color: #A076F9;
    color:white;
    border:none;
    cursor: pointer;
}
.login-btn{
    padding:8px;
    border-radius:8px;
    background-color: #A076F9;
    color:white;
    border:none;
    cursor: pointer;
}
.account-btn{
    margin-bottom: 12px;
    padding:8px;
    border-radius: 8px;
    background-color: #A076F9;
    color:white;
    border: none;
    cursor: pointer;
    
}
.auth-heading{
    text-align: center;
    color:#A076F9;
}