.container{
    display:flex;
   place-items: center;
   /* grid-template-rows: repeat(2,1fr);
grid-template-columns: repeat(2,1fr)
  */
    
}
.cart-card{ 
    display:grid;
    grid-gap:2px;  
  }
 .cart-list{
  margin-bottom:1rem;
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
    border-radius:0.5rem;
      list-style: none;
 }
 .cart-btn{
  padding:2px;
 }
  .qty-btn{
    margin-bottom:1rem;
    border:none;
     margin-left:3rem;
    background-color: white;
  }
  .btn{
    margin-bottom:2rem;
    margin-left:3rem;
   background-color: grey;
   color:white;
   padding:2px;
   
  }
  .product-desc{
    text-align: center;
  }
.qty{
    font-weight: bold;
}
  
.price-card{
    /* height:30vh; */
    width:25vh;
    border:1px solid;
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
  border-radius:0.5rem;
  }
  .coupon-heading{
    font-size:large;
    display: flex;
    margin-left:10px;
    
  }
  .coupon{
    display:flex;
   
  }
  .coupon-btn{
    margin-right: 10px;;
    padding:2px;
    font-size: large;
    
  }
  .checkout-btn{
    margin-left:12px;
    width: 90%;
    font-size: large;
    margin-bottom: 1rem;
    border-radius:8px
  }
  .price-description{
    text-align:center;
    font-size: larger;
  }
