

.main-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    
} 

.img{
    margin-top:6rem;
}
.category-card{
    list-style: none;
    text-align: center;
    cursor: pointer;
}
.category-card img{
  object-fit:contain;
}
