.product-card{
    border:2px solid rgb(240, 245, 240);
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
    width:15rem;
border-radius: 10px;
/* grid-row: 1/2; */

}
.product-img{
    width: 100%;
    height: 15rem;
    object-fit: contain;
}
.cart-btn{
    display:flex
}
.wishlist-btn{
    display:flex;
}