

.product-card{ 
    display:grid;
    grid-template-columns: repeat(4,200px) ;
    grid-column-gap: 16px;

grid-row-gap: 0.5rem;
  /* flex-wrap:wrap; */
  gap:2rem; 
  left:450px; 
  position: relative;
  
  bottom:0px;

}

.prodcut-list{
    list-style: none;
}
li{
    border: 1px solid black;
    list-style: none;
    top:15rem;
}
.product-img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
}


.cart-btn{
    display:flex
}
.wishlist-icon{
   cursor: pointer;
    color:grey;
    margin-top:0px;
}
.wishlist{
    color:red
}