
.product-container{
    display: flex;
}
.product-card{ 
    cursor: pointer;
    display:grid;
    grid-template-columns: repeat(5,200px) ;
    grid-column-gap: 16px;
  gap:2rem; 
  position: relative;
  

}

.product-list{
    list-style: none;
}
li{
 box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
 border-radius:0.5rem;
    list-style: none;
    top:15rem;
}
.product-img{
    width: 100%;
    height: 10rem;
    object-fit: contain;
}


.cart-btn{
    cursor: pointer;
     margin-bottom:2rem;
     margin-left:3rem;
    background-color: grey;
    color:white;
    padding:2px;
    border-radius:2px;
    font-weight: 500;
}
.wishlist-icon{
   cursor: pointer;
    color:grey;
    margin-top:0px;
}
.product-desc{
    text-align: center;
}
.wishlist{
    color:red
}