
 .container{
  display:grid;
  place-items: center;
 }
 .wishlist-card{ 
  display:grid;
  grid-gap:2px;  
 
}

.product-list{
  list-style: none;
  margin-bottom:1rem;
    box-shadow: rgba(90, 90, 90, 0.35) 0px 5px 15px;
    border-radius:0.5rem;
}

.cart-btn{
   margin-bottom:2rem;
   margin-left:3rem;
  background-color: grey;
  color:white;
  padding:2px;
  
}
.btn{
  margin-bottom:2rem;
  margin-left:3rem;
 background-color: grey;
 color:white;
 padding:2px;
 
}
.product-desc{
  text-align: center;
}