  /* *{
    box-sizing: border-box;
    padding: 2px;
    /* margin: 0; */
  */
.filter-container{
  /* top:67px;
    display: flex;
    flex-direction: column;
    border:2px solid black;
    width:20%;
     height:100%;  */
     /* bottom: 0; */
    /* position: fixed; */

 }
.filter-header{
    display:flex;
    gap:12rem;
    
}
 #clear-btn{
    border:none;
    background-color:white;
   text-decoration:underline ;
   cursor: pointer;
}
.price-main{
    display:flex;
}
.price-range{
    display: flex;
    gap:2rem;
} 
