
.footer-main{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    text-align: center;
  bottom: 0;
  width: 100%;
  background-color:#A076F9;
  padding: 10px;
  margin-top:8rem;
}
.footer-links{
  display: block;
  font-size:2rem
 
}
.name{
  font-size:1rem;
  color:white
}
.link{
  margin-right:20px;
  color:white
  
}
